* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:monospace;
  /* border: solid black 2px; */
}

body {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #2c484a;
}

img {
  display: flex;
  justify-self: flex-start;
  width: 300px;
  margin-bottom: 15px;
}
.hRule{
  color: #2c484a;
  height: 4px;
  width: 90%;
  opacity: 0.8;
}

.topCont {
  display: flex;
  padding: 20px;
  margin-top: 35px;
  height: 38%;
  justify-content: space-evenly;
  flex-direction: column;
  align-self: flex-start;
}
.noteBar {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9c7c7;
  border: solid #428d90 4px;
  border-radius: 50px;
  align-content: center;
  width: 600px;
  height: 80px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.titleInput {
  background: none;
  border: none;
  width: 50%;
  height: 75%;
  outline: none;
  margin-left: 20px;
  font-size: 1.6rem;
  font-weight: bolder;
  align-content: center;
}
.titleInput::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  font-weight: bolder;
}

.addNote {
  padding: none;
  align-content: center;
  text-align: center;
  width: 32px;
  height: 32px;
  background-color: #428d90;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}
.addNote:hover {
  opacity: 80%;
}
.addNote:active {
  opacity: 100%;
  color: white;
}
.bottomCont {
  display: flex;
  font-weight: bolder;
  align-content: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  flex-wrap: wrap;
}
.note {
  padding: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  border: #428d90 solid 4px;
  background-color: #b9c7c7;
  width: 600px;
  height: 300px;
}

.title {
  font-size: 1.6rem;
}
.title::before {
  content: "· ";
  color: black;
}
hr {
  height: 1px;
  border: none;
  background-color: #428d90;
  margin: 10px 0px;
}
.noteContent,
.noteContent * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  width: 100%;
  height: 75%;
  border: none;
  border-radius: 20px;
  outline: none;
  color: #428d90;
}
.delAndSaveContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  transform: translate(10%, 10%);
  justify-self: end;
}
.delContainer{
  display: flex;
  justify-content: center;
  width: 60px;
}
.delBtn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bolder;
  overflow: hidden;
  border: none;
  border-radius: 3px 3px 3px 3px;
  color: white;
  background-color: slategray;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, .5), inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.delBtn:hover {
  background-color: white;
  overflow: hidden;
  color: red;
}
.delBtn:active{
  box-shadow: none;
  background-color: #428d90;
  color: white;
}